debug/
target/

# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local

*.db
*.bak

*/Cargo.lock
.aider*
.env

# Logs
.log

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/crash.log
**/crash.*.log

gen/

*.Dockerfile*
*.dockerignore*
